body{
    background-image: url("images/Untitled.png");
    background-size: 600px;
    background-repeat: repeat;
    font-family: "Quicksand-regular",Arial,sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{
    font-family: "Quicksand-bold",Arial,sans-serif;
    text-decoration: none;
    color: #890089;
}
a:hover{
    text-decoration: none;
    color: #bf2fbf;
}

header{
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-image: linear-gradient(to bottom,rgba(255,255,255,1.0),rgba(255,255,255,0.5),rgba(255,255,255,0.0));
    z-index: 1;
}
header ul{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: stretch;
    list-style: none;
    margin: 0;
    padding: 0;
}
header ul li{
    display: inline-flex;
    margin: 20px 20px;
    font-size: 24px;
}
header ul li a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: "Baloo",Arial,sans-serif;
    color: black;
    width: 200px;
    height: 60px;
    background: linear-gradient(to right,#e9f4ff,#fae8fd,#ffe2ec) padding-box,
                linear-gradient(to right,#E0F0FF,#F8D9FF,#FFD0E0) border-box;
    border-radius: 35px;
    border: 5px solid transparent;
}
header ul li a:hover{
    color: black;
    background: linear-gradient(to right,#F1F8FF,#FDF3FF,#FFEEF4) padding-box,
                linear-gradient(to right,#E0F0FF,#F8D9FF,#FFD0E0) border-box;
}

.ButtonMenu{
    margin-right: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-self: left;
    text-decoration: none;
    color: #757575;
    background: linear-gradient(to right,#E0F0FF,#F8D9FF,#FFD0E0);
    border-radius: 40px;
    width: 90px;
    height: 90px;
    border: 5px solid #EBEBEB;
}
.ButtonMenu:hover{
    color: #757575;
    background: linear-gradient(to right, #deecfa,#fae4ff,#ffdfea);
}

.timeline{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 40px 60px;
}
.timeline:after {
  content: "";
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 50%;
  width: 8px;
  background-image: linear-gradient(to top,#E0F0FF,#F8D9FF,#FFD0E0);
  border-radius: 3px;
}
.timeline article.formation {
    background: #E0F0FF;
    margin: 50px;
    right: calc(50% + 50px);
    width: 500px;
    padding: 20px;
    border-radius: 20px;
}
.timeline article.travail {
    position: relative;
    left: calc(50% + 50px);
    background: #F8D9FF;
    margin: 50px;
    width: 500px;
    padding: 20px;
    border-radius: 20px;
}

h1,h2,h3,h4{
    font-family: "Baloo",Arial,sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 6em;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 26px;
}
h4{
    font-family: "Quicksand-bold",Arial,sans-serif;
    font-size: 18px;
    text-align: left;
    margin: 10px;
}
section[id^="comp"] h4{
    text-align: center;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 10% 0;
}
section#accueil{
    margin-top: 20%;
}
section#accueil h3{
    padding: 20px;
    border-radius: 10px;
    border-bottom: 10px solid transparent;
    background: linear-gradient(to right,#fff,#fff,#fff) padding-box,
                linear-gradient(to right,#E0F0FF,#F8D9FF,#FFD0E0) border-box;
}

section#profil{
    display: flex;
    flex-direction: row;
}
section#profil div{
    flex-direction: column;
}
section#profil figure{
    width: 250px;
    background: linear-gradient(to right,#E0F0FF,#F8D9FF,#FFD0E0) border-box;
    border: 10px solid transparent;
    border-radius: 20px;
}
section#profil img{
    width: 100%;
    border-radius: 10px;
}
section#profil article{
    background-color: #E0F0FF;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    box-shadow: #FAFAFA 10px 10px;
}
section#profil > article{
    width: 450px;
}
section#profil article p{
    text-align: left;
    margin: 10px;
    padding: 10px;
    font-size: 22px;
}
section#profil ul{
    font-family: "Quicksand-bold",Arial,sans-serif;
    padding: 0;
    list-style: none;
}
section#profil li img{
    width: 25px;
    margin: 5px;
}
section#keyComp{
    display: flex;
    flex-direction: column;
}

section#keyComp div{
    display: flex;
    flex-direction: row;
}
section#keyComp div div{
    flex-direction: column;
}
section#keyComp div article{
    background-color: #F8D9FF;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    box-shadow: #FAFAFA 10px 10px;
    text-align: justify;
}
section#keyComp div div article{
    background-color: #FFD0E0;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    box-shadow: #FAFAFA 10px 10px;
    text-align: justify;
}
section#keyComp div div article ul{
    padding: 15px;
}
section[class^="comp"]{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 150px;
}
section[class^="comp"] article{
    width: 500px;
    margin: 0 50px;
    border-radius: 20px;
    padding: 20px;
}
section.comp1{
    margin-top: 20%;
}
section.comp1 article:first-child{
    background-color: #B9DDFF;
}
section.comp1 article:last-child{
    background-color: #E0F0FF;
}
section.comp2 article:first-child{
    background-color: #F8D9FF;
}
section.comp2 article:last-child{
    background-color: #F1B2FF;
}
section.comp3 article:first-child{
    background-color: #FFA4C3;
}
section.comp3 article:last-child{
    background-color: #FFD0E0;
}
section.comp4 article:first-child{
    background-color: #ffb0a4;
}
section.comp4 article:last-child{
    background-color: #ffd9d0;
}
section.comp5 article:first-child{
    background-color: #fffad0;
}
section.comp5 article:last-child{
    background-color: #fffca4;
}
section.comp6 article:first-child{
    background-color: #bbffa4;
}
section.comp6 article:last-child{
    background-color: #dbffd0;
}
a article{
    color: black;
    font-family: "Quicksand-regular",Arial,sans-serif;
}
section[id^="projet"]{
    display: flex;
    flex-direction: column;
    width: auto;
    border-radius: 20px;
    padding: 20px;
}
section[id^="projet"] article{
    margin: 20px;
}
section[id^="projet"].comp1{
    background-color: rgba(224,240,255,0.5);
}
section[id^="projet"].comp2{
    background-color: rgba(248,217,255,0.5);
}
section[id^="projet"].comp3{
    background-color: rgba(255,208,224,0.5);
}
section[id^="projet"].comp4{
    background-color: rgba(255,217,205,0.5);
}
section[id^="projet"].comp5{
    background-color: rgba(255,250,208,0.5);
}
section[id^="projet"].comp6{
    background-color: rgba(219,255,208,0.5);
}

form{
    background-color: #E0F0FF;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    box-shadow: #FAFAFA 10px 10px;
    text-align: center;
}
form label{
    float: left;
}
form input[type="submit"]{
    
    color: #757575;
    font-size: 2em;
    background: linear-gradient(to right, #E0F0FF,#F8D9FF,#FFD0E0);
    border-radius: 10px;
    width: 250px;
    height: 60px;
    border: 5px solid #FFFFFF;
    font-family: "Baloo",Arial,sans-serif;
}
form input[type="text"]{
    background-color: #ecf6ff;
    border: none;
    width: 500px;
    height: 2em;
    margin-bottom: 1em;
}
form input[id="message"]{
    height: 12em;
}

footer{
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    background: linear-gradient(to right,#E0F0FF,#F8D9FF,#FFD0E0) padding-box,
                linear-gradient(to right,#B9DDFF,#ED9DFF,#FFA2C1) border-box;
    border-top: 5px solid transparent;
    margin-top: 100px;
}
footer article{
    margin: 20px;
}
footer ul{
    padding: 0 0 0 1em;
    list-style: none;
}
footer li a{
    margin: 10px;
    color: black;
}
footer li a:hover{
    color: #555555;
}
footer article:nth-child(2) ul{
    display: inline-flex;
}
footer p{
    position: absolute;
    right: 15px;
    bottom: 5px;
}

@media screen and (max-width: 1440px){
    header ul li{
        margin: 20px 30px;
        font-size: 18px;
    }
    header ul li a{
        width: 150px;
        height: 45px;
    }
    .timeline article.formation {
        width: 350px;
    }
    .timeline article.travail {
        left: calc(50% + 50px);
        width: 350px;
    }
    section[id^="comp"]{
        margin: 40px;
    }
    section[id^="comp"] article{
        width: 400px;
        margin: 0 40px;
        border-radius: 20px;
        padding: 20px;
    }
}

@media screen and (max-width: 1300px){
    header ul li{
        margin: 20px 20px;
        font-size: 16px;
    }
    header ul li a{
        width: 120px;
        height: 40px;
    }
    .ButtonMenu{
        margin-right: 30px;
        width: 60px;
        height: 60px;
    }
    .ButtonMenu h2{
        font-size: 2em;
    }
    h1{
        font-size: 6em;
    }
    h2{
        font-size: 3em;
    }
    h3{
        font-size: 2em;
    }
    h4{
        font-size: 1em;
    }
    body{
        font-size: 12px;
    }
    article{
        padding: 10px;
    }
    section#profil article p{
        font-size: 16px;
    }
    section#profil article{
        padding: 10px;
    }
    section#profil figure{
        width: 200px;
    }
    .timeline article.formation {
        width: 200px;
    }
    .timeline article.travail {
        left: calc(50% + 50px);
        width: 200px;
    }
    section[id^="comp"]{
        margin: 30px;
    }
    section[id^="comp"] article{
        width: 350px;
        margin: 0 30px;
        border-radius: 20px;
        padding: 10px;
    }
}

@font-face {
    font-family: "Quicksand-regular";
    src: url("polices/quicksand/quicksand-regular-webfont.woff2"),
        url("polices/quicksand/quicksand-regular-webfont.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Quicksand-bold";
    src: url("polices/quicksand/quicksand-bold-webfont.woff2"),
        url("polices/quicksand/quicksand-bold-webfont.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Baloo";
    src: url("polices/baloo/baloo-regular-webfont.woff2"),
        url("polices/baloo/baloo-regular-webfont.woff");
    font-weight: normal;
    font-style: normal;
}